 * {
     margin: 0;
     padding: 0;
     border: 0;
 }

 .primary-font {

     font-family: Mulish;
 }

 .orange-primary {
     color: #FF5400;

 }

 .nav-container {
     max-width: 100%;
     margin: 0 auto;
     width: 1170px;
     padding-top: 52px;
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .nav-head {
     color: #131318;
     font-size: 36px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 .dream {
     color: #FF5400;

 }

 .nav-title {
     display: flex;
     align-items: center;

 }

 .logo {
     width: 48px;
     height: 56.008px;

 }

 .nav-items {
     display: flex;
     list-style: none;
     color: var(--Dark-02, #424247);
     align-items: center;

 }

 nav li {
     margin-right: 44px;

 }

 nav li a {
     text-decoration: none;
     text-align: center;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     color: #424247;
 }


 .banner {
     max-width: 100%;
     width: 1170px;
     height: 500px;
     border-radius: 16px;
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/background.png);
     text-align: center;
     margin: 0 auto;

 }

 .banner h1 {
     color: #FFF;
     font-size: 64px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     padding-left: 287;
     padding-right: 287;
     padding-top: 106px;
 }

 .banner p {
     color: #FFF;
     text-align: center;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;
     padding-left: 247;
     padding-right: 247;
     padding-top: 24;
     padding-bottom: 40px;
 }

 .banner-input {
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     display: inline-flex;
     padding: 16px;
     align-items: flex-start;
     gap: 24px;
 }

 .banner-input input {
     border-style: none;
     border-radius: 8px;
     background: #FFF;
     width: 174px;
     height: 35px;
     padding-left: 20px;

 }

 .banner-input select {
     width: 174px;
     height: 35px;
     flex-shrink: 0;
     padding-left: 20px;
     border-radius: 8px;
     background: #FFF;
     color: rgba(19, 19, 24, 0.50);

 }

 .btn-primary {
     width: 174px;
     height: 35px;
     flex-shrink: 0;
     border-radius: 8px;
     background: #FF5400;
     color: #FFF;
     align-items: center;
     text-align: center;
     font-weight: 700;
     line-height: normal;
     border-style: none;

 }

 button:hover {
     cursor: pointer;
     background-color: bisque;
 }

 .header-primary {
     color: #131318;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     padding-bottom: 24px;
 }

 .p-primary {
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;

 }


 .tour-contaner {
     display: flex;
     margin: 100px auto;
     max-width: 100%;
     width: 1170px;
 }

 .tour-content {
     width: 1170px;
     max-width: 100%;


 }

 .tour-content p,
 ul>li {
     padding-bottom: 24px;
 }

 .tour-content button {
     margin-top: 10px;
     font-weight: 800px;
     margin-bottom: 24px;

 }

 .tour-img {
     max-width: 100%;
     flex-shrink: 0;

 }

 .destination-contaner {
     text-align: center;
 }

 .destination-contaner p {
     padding-bottom: 24px;
 }

 .img-contaner {
     width: 1170px;
     max-width: 100%;

     margin: 0 auto;
     padding-bottom: 24px;
     align-items: center;
     position: relative;




 }

 .column1 {
     width: 100%;
     display: flex;
     gap: 24px;
     padding-bottom: 24px;
     position: relative;
 }

 .column2 {
     display: flex;
     width: 100%;
     gap: 24px;
     padding-bottom: 24px;
     position: relative;
 }

 .column3 {
     display: flex;
     width: 100%;
     gap: 24px;
     position: relative;
 }

 .img-text1 {

     color: #FFF;
     font-size: 28px;
     text-align: center;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     left: 20%;
     transform: translate(-50%, -50%);


 }

 .img-text2 {
     color: #FFF;
     text-align: center;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     right: 20%;
     transform: translate(-50%, -50%);

 }

 .img-text3 {

     color: #FFF;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     left: 10%;
     transform: translate(-50%, -50%);


 }

 .img-text4 {

     color: #FFF;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     left: 55%;
     transform: translate(-50%, -50%);


 }

 .img-text5 {

     color: #FFF;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     right: 5%;
     transform: translate(-50%, -50%);


 }

 .img-text6 {
     color: #FFF;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     left: 20%;
     transform: translate(-50%, -50%);

 }

 .img-text7 {
     color: #FFF;
     font-size: 28px;
     font-style: normal;
     font-weight: 800;
     position: absolute;
     top: 40%;
     right: 20%;
     transform: translate(-50%, -50%);

 }


 .offer-contaner {
     margin-top: 100px;
 }

 .offer-contaner h2 {
     text-align: center;
 }

 .offer-contaner p {
     padding-bottom: 20px;
     text-align: center;

 }

 .offer-content {
     width: 1170px;
     max-width: 100%;
     margin: 0 135px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 20px;
     row-gap: 24px;
 }


 .hotels {
     width: 500px;
     height: 284px;
     flex-shrink: 0;
     border-radius: 16px;
     border: 1px solid rgba(251, 181, 99, 0.20);
     background: rgba(251, 181, 99, 0.05);
     padding-top: 30px;
     padding-bottom: 10px;
     padding-left: 30px;
     padding-right: 50px;


 }

 .map {
     width: 500px;
     height: 284px;
     flex-shrink: 0;
     border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
     ;
     padding-top: 30px;
     padding-bottom: 10px;
     padding-left: 30px;
     padding-right: 50px;

 }

 .price {
     width: 500px;
     height: 284px;
     flex-shrink: 0;
     border-radius: 16px;
     border: 1px solid rgba(233, 68, 68, 0.20);
     background: rgba(233, 68, 68, 0.05);
     padding-top: 30px;
     padding-bottom: 10px;
     padding-left: 30px;
     padding-right: 50px;
     transform: translate(50%);

 }

 .news {
     position: relative;
 }

 .news-contner {
     display: flex;
     width: 1170px;
     max-width: 100%;
     margin-left: 135px;
     margin-right: 135px;
     height: auto;
     justify-content: space-around;
 }

 .newsletter {
     width: 474px;
     padding-top: 50px;
     text-align: center;
     gap: 50px;
     margin-top: 100px;
     height: auto;
     flex-shrink: 0;
     border-radius: 16px;
     border: 1px solid #FF5400;


 }

 .newsletter p {
     padding-bottom: 15px;

 }

 .newsletter ul>li {
     list-style: none;
     height: 52px;
     width: 393px;

     flex-shrink: 0;
     text-align: center;

 }

 .newsletter ul>li input {
     padding: 20px 10px
 }

 .txt-clr {
     border-radius: 8px;
     background: rgba(19, 19, 24, 0.05);

 }

 .news-img {

     width: 100%;
     max-width: 672px;
     height: 422px;
     flex-shrink: 0;
     margin-top: 100px;

 }

 .discount {
     border-radius: 16px;
     background: #FF5400;
     width: 300px;
     height: 100px;
     transform: rotate(-19.628deg);
     flex-shrink: 0;
     position: absolute;
     left: 65%;
     bottom: 10%;
     right: 10%;
 }

 .discount p {
     color: #FFF;
     text-align: center;
     font-size: 24px;
     font-weight: 400;
 }

 .discount h4 {
     color: #FFF;
     font-size: 32px;
     font-weight: 800;
     text-align: center;
 }

 footer {
     width: 100%;
     height: 502px;
     flex-shrink: 0;
     background: rgba(19, 19, 24, 0.05);
     text-align: center;
     margin-left: 0;
     margin-right: 0;
 }
    
 .footer-p {
     padding-top: 100px;
 }

 .footer-p p {
     padding-top: 20px;
     padding-bottom: 30px;
 }

 .icon i {
     height: 24px;
     width: 50px;
 }
 .copyright{ padding-top: 50px;}