 .primary-font {

     font-family: Mulish;
 }

 .orange-primary {
     color: #FF5400;

 }

 nav {
     max-width: 100%;
     margin: 0 auto;
     width: 1170px;
     padding-top: 52px;
     padding-left: 135px;
     padding-right: 135px;
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .nav-head {
     color: #131318;
     font-size: 36px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 .dream {
     color: #FF5400;

 }

 .nav-title {
     display: flex;
     align-items: center;

 }

 .logo {
     width: 48px;
     height: 56.008px;

 }

 .nav-items {
     display: flex;
     list-style: none;
     color: var(--Dark-02, #424247);
     align-items: center;

 }

 nav li {
     margin-right: 44px;

 }

 nav li a {
     text-decoration: none;
     text-align: center;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     color: #424247;
 }


 .banner {
     max-width: 100%;
     width: 1170px;
     height: 500px;

     border-radius: 16px;
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/background.png);
     text-align: center;

     margin-left: auto;
     ;
     margin-right: auto;
     ;
     margin-top: 0;
     margin-bottom: 0;

 }

 .banner h1 {
     color: #FFF;
     font-size: 64px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     padding-left: 287;
     padding-right: 287;
     padding-top: 106px;
 }

 .banner p {
     color: #FFF;
     text-align: center;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;
     padding-left: 247;
     padding-right: 247;
     padding-top: 24;
     padding-bottom: 40px;
 }

 .banner-input {
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     display: inline-flex;
     padding: 16px;
     align-items: flex-start;
     gap: 24px;
 }

 .banner-input input {
     border-style: none;
     border-radius: 8px;
     background: #FFF;
     width: 174px;
     height: 35px;

 }

 .banner-input select {
     width: 174px;
     height: 35px;
     flex-shrink: 0;
     border-radius: 8px;
     background: #FFF;
     color: rgba(19, 19, 24, 0.50);

 }

 .btn-primary {
     width: 174px;
     height: 35px;
     flex-shrink: 0;
     border-radius: 8px;
     background: #FF5400;
     color: #FFF;
     text-align: center;
     font-weight: 700;
     line-height: normal;
     border-style: none;

 }

 .header-primary {
     color: #131318;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 .p-primary {
     color: rgba(19, 19, 24, 0.70);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;

 }


 .tour-contaner {
     display: flex;
     margin: 100px auto;
     width: 1170px;


 }

 .tour-content {
     width: 1440px;
     padding: 24px;

 }

 .tour-content button {
     margin-top: 10px;
     font-weight: 800px;

 }

 .tour-img {
     width: 540px;
     height: 550px;
     flex-shrink: 0;

 }

 .destination-contaner {
     text-align: center;
 }

 .img-contaner {
     max-width: 1170px;
     margin: 0 auto;
     padding-bottom: 24px;
     align-items: center;



 }

 .column1 {
     width: 100%;
     display: flex;
     gap: 24px;
     padding-bottom: 24px;
 }

 .column2 {
     display: flex;
     width: 100%;
     gap: 24px;
     padding-bottom: 24px;
 }

 .column3 {
     display: flex;
     width: 100%;
     gap: 24px;
 }